{% extends 'base.html' %}

{% block title %}About Us{% endblock %}



{% block content %}
<div class="AS">
    <span>A</span>
    <span>R</span>
    <span>S</span>
    <span>H</span>
    <span>A</span>
    <span>M</span>
</div>
<body>
    <link rel="stylesheet" href="{{url_for('static', filename='main6.css')}}">
    <div class="container">
        <div class="row">
                <h3>
                    <span>H</span>
                    <span>e</span>
                    <span>l</span>
                    <span>l</span>
                    <span>o</span>
                    <span>!</span>
                </h3>
            <h5>
                <span class="text2">Arsham Seraji</span>
                <p>2010.04.20</p>
                <span class="text2">Programmer and site designer</span>
                <p>8th grade</p>
                <span class="text2">wearing glasses</span>
            </h5>

        </div>
    </div>
</body>


{% endblock %}